:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --primary-white-color: #ffffff;
    --light-text-color: #F4F4FD;
    --secondary-accent-color: #404BBF;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);

    font-family: "Roboto", sans-serif;
} 

.list {
    list-style: none;
}

/* logo */

.logo {
    color: var(--accent-color);

    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.logo .accent {
    color: var(--title-text-color);
}

.logo.header {
    color: var(--accent-color);
}

.logo.footer {
    color: var(--accent-color);
}

.logo.footer .accent {
    color: var(--light-text-color);
}

/* navigation */

.site-nav .link { 
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--secondary-accent-color);
}

.link {
    text-decoration: none;
}

/* contacts */

.contacts {
    font-style: normal;
}

.contact {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contact:hover,
.contact:focus {
    color: var(--secondary-accent-color);
}

/* hero */

.hero {
    background-color: var(--title-text-color);
}

.hero-title {
    color: var(--primary-white-color);

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;    
    text-align: center;
    letter-spacing: 0.02em;    
} 

.section-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.feature-list .title {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;

    cursor: pointer;
}

.hero .button:hover,
.hero .button:focus {
    color: var(--primary-white-color);
    background-color: var(--secondary-accent-color);
}

.title {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-list .title {
    text-align: center;
}

.item {
    background-color: var(--primary-white-color);
}

.text {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.text.footer {
    color: var(--light-text-color);
}

.team-list .text {
    text-align: center;
}

.team {
    background-color: var(--light-text-color);
}

footer {
    background-color: var(--title-text-color);
}

.buttons-list .button {
    color: var(--accent-color);
    background-color: var(--light-text-color);
}

.buttons-list .button:hover,
.buttons-list .button:focus {
    color: var(--primary-white-color);
    background-color: var(--secondary-accent-color);
}